.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.65), rgba(0,0,0,0.65)), url("images/0EAF7126-E8A5-414B-9C2A-470D3B21D284.jpg");
  background-position: 50% 60.25%;
}

.u-section-1 .u-sheet-1 {
  min-height: 792px;
}

.u-section-1 .u-text-1 {
  font-size: 4.1875rem;
  width: 836px;
  margin: 103px auto 0;
}

.u-section-1 .u-line-1 {
  width: 150px;
  height: 6px;
  margin: 32px auto 0;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 73px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 390px;
  background-image: none;
  animation-duration: 1000ms;
}

.u-section-1 .u-container-layout-1 {
  padding: 50px 30px;
}

.u-section-1 .u-icon-1 {
  height: 84px;
  width: 84px;
  background-image: none;
  margin: -1px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  letter-spacing: 2px;
  margin: 29px 20px 0;
}

.u-section-1 .u-text-3 {
  font-size: 0.875rem;
  margin: 33px 10px 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 407px;
  background-image: none;
  animation-duration: 1000ms;
}

.u-section-1 .u-container-layout-2 {
  padding: 50px 30px;
}

.u-section-1 .u-icon-2 {
  height: 84px;
  width: 84px;
  background-image: none;
  margin: 0 auto;
}

.u-section-1 .u-text-4 {
  font-size: 1.25rem;
  letter-spacing: 2px;
  margin: 30px 20px 0;
}

.u-section-1 .u-text-5 {
  font-size: 0.875rem;
  margin: 18px 10px 0;
}

.u-section-1 .u-btn-1 {
  padding: 0;
}

.u-section-1 .u-text-6 {
  font-size: 0.875rem;
  margin: 10px 20px 0;
}

.u-section-1 .u-btn-2 {
  padding: 0;
}

.u-section-1 .u-text-7 {
  font-size: 0.875rem;
  margin: 13px 20px 0;
}

.u-section-1 .u-btn-3 {
  padding: 0;
}

.u-section-1 .u-text-8 {
  font-size: 0.875rem;
  margin: 10px 20px 0;
}

.u-section-1 .u-btn-4 {
  padding: 0;
}

.u-section-1 .u-btn-5 {
  margin: 15px auto 0;
  padding: 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 390px;
  background-image: none;
  animation-duration: 1000ms;
}

.u-section-1 .u-container-layout-3 {
  padding: 50px 30px;
}

.u-section-1 .u-icon-3 {
  height: 84px;
  width: 84px;
  background-image: none;
  margin: 0 auto;
}

.u-section-1 .u-text-9 {
  font-size: 1.25rem;
  letter-spacing: 2px;
  margin: 30px 20px 0;
}

.u-section-1 .u-text-10 {
  font-size: 0.875rem;
  margin: 15px 20px 0;
}

.u-section-1 .u-btn-6 {
  background-image: none;
  border-style: solid;
  font-size: 1.25rem;
  letter-spacing: 2px;
  margin: 23px auto 0 90px;
}

.u-section-1 .u-btn-7 {
  background-image: none;
  border-style: solid;
  font-size: 1.25rem;
  letter-spacing: 2px;
  margin: -58px 464px 0 auto;
}

.u-section-1 .u-btn-8 {
  background-image: none;
  border-style: solid;
  font-size: 1.25rem;
  letter-spacing: 2px;
  margin: -59px 83px 6px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 629px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.0625rem;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 322px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 336px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-5 {
    margin-top: -90px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 322px;
  }

  .u-section-1 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-6 {
    margin-top: 60px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-7 {
    margin-right: 264px;
  }

  .u-section-1 .u-btn-8 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 407px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    width: 720px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 30px 20px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-2 {
    padding: 30px 20px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-3 {
    padding: 30px 20px;
  }

  .u-section-1 .u-btn-7 {
    margin-right: 44px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 507px;
  }

  .u-section-1 .u-text-1 {
    width: 540px;
    font-size: 3rem;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-1 .u-btn-7 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    width: 340px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }
}.u-section-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("images/53e9d1434352b108f5d08460962934761237d6ed5a4c704c7d2f72d4964dc050_1280.jpg");
  background-position: 50% 50%;
  min-height: 1305px;
}

.u-section-2 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2) + 1140px);
  margin: 60px 0 0 auto;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 306px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-icon-1 {
  height: 103px;
  width: 103px;
  background-image: none;
  margin: 0 auto;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 338px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-line-1 {
  height: 3px;
  transform-origin: left center;
  margin: 0 0 0 auto;
}

.u-section-2 .u-text-1 {
  font-size: 2.25rem;
  margin: 20px 0 0;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 338px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 30px 26px;
}

.u-section-2 .u-text-2 {
  margin: 0;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 306px;
  background-image: none;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-layout-wrap-2 {
  width: 895px;
  min-height: 400px;
  margin: 60px calc(((100% - 1140px) / 2)) 0 auto;
}

.u-section-2 .u-layout-cell-5 {
  min-height: 847px;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  font-size: 7.5rem;
  margin: -30px -30px 0 -124px;
}

.u-section-2 .u-layout-cell-6 {
  min-height: 847px;
}

.u-section-2 .u-container-layout-6 {
  padding: 30px;
}

.u-section-2 .u-text-4 {
  font-size: 1rem;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-2 {
    min-height: 620px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2) + 940px);
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 221px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 279px;
  }

  .u-section-2 .u-line-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 279px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: NaNpx;
  }

  .u-section-2 .u-layout-wrap-2 {
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-2 .u-text-3 {
    margin-left: undefined;
  }
}

@media (max-width: 991px) {
  .u-section-2 {
    min-height: 475px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 386px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-wrap-2 {
    width: 720px;
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-left: 1px;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 {
    min-height: 356px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 579px;
    order: 0;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-2 .u-icon-1 {
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    order: 1;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-2 .u-layout-cell-3 {
    order: 2;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-2 .u-text-2 {
    margin-right: undefined;
  }

  .u-section-2 .u-layout-cell-4 {
    order: 3;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-wrap-2 {
    width: 540px;
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-layout-cell-5 {
    order: 0;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0;
  }

  .u-section-2 .u-text-3 {
    margin-left: 3px;
  }

  .u-section-2 .u-layout-cell-6 {
    order: 1;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 {
    min-height: 224px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 365px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-right: 10px;
    padding-bottom: 50px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-bottom: 20px;
    padding-left: 30px;
  }

  .u-section-2 .u-layout-wrap-2 {
    width: 340px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-text-3 {
    font-size: 6rem;
    margin-right: 0;
    margin-left: 2px;
  }
}.u-section-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("images/-min.jpg");
  background-position: 50% 50%;
  min-height: 1012px;
}

.u-section-3 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2) + 1140px);
  margin: 60px 0 0 auto;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 306px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-icon-1 {
  height: 103px;
  width: 103px;
  background-image: none;
  margin: 0 auto;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 429px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-line-1 {
  height: 3px;
  transform-origin: left center;
  margin: 0 0 0 auto;
}

.u-section-3 .u-text-1 {
  font-size: 2.25rem;
  margin: 20px 0 0;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 306px;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 30px 26px;
}

.u-section-3 .u-text-2 {
  font-size: 0.75rem;
  margin: 0;
}

.u-section-3 .u-layout-cell-4 {
  min-height: 306px;
  background-image: none;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

.u-section-3 .u-layout-wrap-2 {
  width: 895px;
  min-height: 400px;
  margin: 60px calc(((100% - 1140px) / 2)) 0 auto;
}

.u-section-3 .u-layout-cell-5 {
  min-height: 400px;
}

.u-section-3 .u-container-layout-5 {
  padding: 30px;
}

.u-section-3 .u-text-3 {
  margin-top: 0;
  font-weight: 700;
  font-size: 7.5rem;
  margin-left: auto;
  margin-right: auto;
}

.u-section-3 .u-layout-cell-6 {
  min-height: 463px;
}

.u-section-3 .u-container-layout-6 {
  padding: 30px;
}

.u-section-3 .u-text-4 {
  font-size: 0.75rem;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-3 {
    min-height: 620px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2) + 940px);
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 221px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 354px;
  }

  .u-section-3 .u-line-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 252px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: NaNpx;
  }

  .u-section-3 .u-layout-wrap-2 {
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-3 .u-text-3 {
    margin-left: undefined;
  }
}

@media (max-width: 991px) {
  .u-section-3 {
    min-height: 475px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 386px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-wrap-2 {
    width: 720px;
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-bottom: 0;
    margin-left: 1px;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-3 {
    min-height: 356px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 579px;
    order: 0;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-3 .u-icon-1 {
    margin-left: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    order: 1;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-3 .u-layout-cell-3 {
    order: 2;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-3 .u-text-2 {
    margin-right: undefined;
  }

  .u-section-3 .u-layout-cell-4 {
    order: 3;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-wrap-2 {
    width: 540px;
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-3 .u-layout-cell-5 {
    order: 0;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0;
  }

  .u-section-3 .u-text-3 {
    margin-left: 3px;
  }

  .u-section-3 .u-layout-cell-6 {
    order: 1;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 {
    min-height: 224px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 365px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-right: 10px;
    padding-bottom: 50px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-bottom: 20px;
    padding-left: 30px;
  }

  .u-section-3 .u-layout-wrap-2 {
    width: 340px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-3 .u-text-3 {
    font-size: 6rem;
    margin-left: 2px;
  }
}.u-section-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.35), rgba(0,0,0,0.35)), url("images/-min1.jpg");
  background-position: 50% 50%;
  min-height: 826px;
}

.u-section-4 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2) + 1140px);
  margin: 60px auto 0 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 306px;
  background-image: none;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 306px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-line-1 {
  height: 3px;
  transform-origin: left center;
  margin: 0 0 0 auto;
}

.u-section-4 .u-text-1 {
  font-size: 2.25rem;
  margin: 20px 0 0;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 306px;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px 30px 26px;
}

.u-section-4 .u-text-2 {
  font-size: 0.875rem;
  margin: 0;
}

.u-section-4 .u-layout-cell-4 {
  min-height: 306px;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px;
}

.u-section-4 .u-icon-1 {
  height: 91px;
  width: 91px;
  background-image: none;
  margin: 0 auto;
}

.u-section-4 .u-layout-wrap-2 {
  width: 895px;
  min-height: 400px;
  margin: 60px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-4 .u-layout-cell-5 {
  min-height: 400px;
}

.u-section-4 .u-container-layout-5 {
  padding: 30px;
}

.u-section-4 .u-text-3 {
  font-size: 1rem;
  margin: 0;
}

.u-section-4 .u-layout-cell-6 {
  min-height: 400px;
}

.u-section-4 .u-container-layout-6 {
  padding: 30px;
}

.u-section-4 .u-text-4 {
  margin-top: 0;
  font-weight: 700;
  font-size: 7.5rem;
  margin-left: 0;
  margin-right: 0;
}

@media (max-width: 1199px) {
  .u-section-4 {
    min-height: 620px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2) + 940px);
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: NaNpx;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 267px;
  }

  .u-section-4 .u-line-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 241px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 221px;
  }

  .u-section-4 .u-layout-wrap-2 {
    margin-left: calc(((100% - 940px) / 2));
  }
}

@media (max-width: 991px) {
  .u-section-4 {
    min-height: 475px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 386px;
  }

  .u-section-4 .u-layout-wrap-2 {
    width: 720px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-4 .u-text-4 {
    width: auto;
    margin-right: auto;
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 {
    min-height: 356px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-4 .u-layout-cell-1 {
    order: 3;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-2 {
    order: 1;
  }

  .u-section-4 .u-layout-cell-3 {
    order: 2;
  }

  .u-section-4 .u-text-2 {
    margin-left: undefined;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 579px;
    order: 0;
  }

  .u-section-4 .u-container-layout-4 {
    padding-right: 10px;
  }

  .u-section-4 .u-icon-1 {
    margin-left: 0;
  }

  .u-section-4 .u-layout-wrap-2 {
    width: 540px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-4 .u-layout-cell-5 {
    order: 1;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-6 {
    order: 0;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0;
  }
}

@media (max-width: 575px) {
  .u-section-4 {
    min-height: 224px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-4 .u-container-layout-3 {
    padding-bottom: 20px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 365px;
  }

  .u-section-4 .u-layout-wrap-2 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-4 .u-text-4 {
    font-size: 6rem;
  }
}.u-section-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("images/53e9d1434352b108f5d08460962934761237d6ed5a4c704c7d2f72d4964dc050_1280.jpg");
  background-position: 50% 50%;
  min-height: 826px;
}

.u-section-5 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2) + 1140px);
  margin: 60px 0 0 auto;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 306px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-icon-1 {
  height: 103px;
  width: 103px;
  background-image: none;
  margin: 0 auto;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 306px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-line-1 {
  height: 3px;
  transform-origin: left center;
  margin: 0 0 0 auto;
}

.u-section-5 .u-text-1 {
  font-size: 2.25rem;
  margin: 20px 0 0;
}

.u-section-5 .u-layout-cell-3 {
  min-height: 306px;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px 30px 26px;
}

.u-section-5 .u-text-2 {
  margin: 0;
}

.u-section-5 .u-layout-cell-4 {
  min-height: 306px;
  background-image: none;
}

.u-section-5 .u-container-layout-4 {
  padding: 30px;
}

.u-section-5 .u-layout-wrap-2 {
  width: 895px;
  min-height: 400px;
  margin: 60px calc(((100% - 1140px) / 2)) 0 auto;
}

.u-section-5 .u-layout-cell-5 {
  min-height: 400px;
}

.u-section-5 .u-container-layout-5 {
  padding: 30px;
}

.u-section-5 .u-text-3 {
  margin-top: 0;
  font-weight: 700;
  font-size: 7.5rem;
  margin-left: auto;
  margin-right: auto;
}

.u-section-5 .u-layout-cell-6 {
  min-height: 400px;
}

.u-section-5 .u-container-layout-6 {
  padding: 30px;
}

.u-section-5 .u-text-4 {
  font-size: 1rem;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-5 {
    min-height: 620px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2) + 940px);
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 221px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 252px;
  }

  .u-section-5 .u-line-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 252px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: NaNpx;
  }

  .u-section-5 .u-layout-wrap-2 {
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-5 .u-text-3 {
    margin-left: undefined;
  }
}

@media (max-width: 991px) {
  .u-section-5 {
    min-height: 475px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 386px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-wrap-2 {
    width: 720px;
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-5 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-5 .u-text-3 {
    width: auto;
    margin-bottom: 0;
    margin-left: 1px;
  }

  .u-section-5 .u-layout-cell-6 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-5 {
    min-height: 356px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 579px;
    order: 0;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-5 .u-icon-1 {
    margin-left: 0;
  }

  .u-section-5 .u-layout-cell-2 {
    order: 1;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-5 .u-layout-cell-3 {
    order: 2;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-5 .u-text-2 {
    margin-right: undefined;
  }

  .u-section-5 .u-layout-cell-4 {
    order: 3;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-layout-wrap-2 {
    width: 540px;
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-5 .u-layout-cell-5 {
    order: 0;
  }

  .u-section-5 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0;
  }

  .u-section-5 .u-text-3 {
    margin-left: 3px;
  }

  .u-section-5 .u-layout-cell-6 {
    order: 1;
  }

  .u-section-5 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 {
    min-height: 224px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 365px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-right: 10px;
    padding-bottom: 50px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-bottom: 20px;
    padding-left: 30px;
  }

  .u-section-5 .u-layout-wrap-2 {
    width: 340px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-5 .u-text-3 {
    font-size: 6rem;
    margin-left: 2px;
  }
}.u-section-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.35), rgba(0,0,0,0.35)), url("images/-min1.jpg");
  background-position: 50% 50%;
  min-height: 826px;
}

.u-section-6 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2) + 1140px);
  margin: 60px auto 0 0;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 306px;
  background-image: none;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 306px;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-line-1 {
  height: 3px;
  transform-origin: left center;
  margin: 0 0 0 auto;
}

.u-section-6 .u-text-1 {
  font-size: 2.25rem;
  margin: 20px 0 0;
}

.u-section-6 .u-layout-cell-3 {
  min-height: 306px;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px 30px 26px;
}

.u-section-6 .u-text-2 {
  font-size: 1rem;
  margin: 0;
}

.u-section-6 .u-layout-cell-4 {
  min-height: 306px;
}

.u-section-6 .u-container-layout-4 {
  padding: 30px;
}

.u-section-6 .u-icon-1 {
  height: 91px;
  width: 91px;
  background-image: none;
  margin: 0 auto;
}

.u-section-6 .u-layout-wrap-2 {
  width: 895px;
  min-height: 400px;
  margin: 60px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-6 .u-layout-cell-5 {
  min-height: 400px;
}

.u-section-6 .u-container-layout-5 {
  padding: 30px;
}

.u-section-6 .u-text-3 {
  font-size: 0.875rem;
  margin: 0;
}

.u-section-6 .u-btn-1 {
  background-image: none;
  border-style: solid;
  font-size: 1.25rem;
  letter-spacing: 2px;
  margin: 40px auto 0 0;
}

.u-section-6 .u-layout-cell-6 {
  min-height: 400px;
}

.u-section-6 .u-container-layout-6 {
  padding: 30px;
}

.u-section-6 .u-text-4 {
  font-weight: 700;
  font-size: 7.5rem;
  margin: 0 -30px 0 0;
}

@media (max-width: 1199px) {
  .u-section-6 {
    min-height: 620px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2) + 940px);
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: NaNpx;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 267px;
  }

  .u-section-6 .u-line-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 241px;
  }

  .u-section-6 .u-layout-cell-4 {
    min-height: 221px;
  }

  .u-section-6 .u-layout-wrap-2 {
    margin-left: calc(((100% - 940px) / 2));
  }
}

@media (max-width: 991px) {
  .u-section-6 {
    min-height: 475px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-6 .u-layout-cell-4 {
    min-height: 386px;
  }

  .u-section-6 .u-layout-wrap-2 {
    width: 720px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-6 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-6 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-6 .u-text-4 {
    width: auto;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-6 {
    min-height: 356px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-6 .u-layout-cell-1 {
    order: 3;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-layout-cell-2 {
    order: 1;
  }

  .u-section-6 .u-layout-cell-3 {
    order: 2;
  }

  .u-section-6 .u-text-2 {
    margin-left: undefined;
  }

  .u-section-6 .u-layout-cell-4 {
    min-height: 579px;
    order: 0;
  }

  .u-section-6 .u-container-layout-4 {
    padding-right: 10px;
  }

  .u-section-6 .u-icon-1 {
    margin-left: 0;
  }

  .u-section-6 .u-layout-wrap-2 {
    width: 540px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-6 .u-layout-cell-5 {
    order: 1;
  }

  .u-section-6 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-layout-cell-6 {
    order: 0;
  }

  .u-section-6 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0;
  }
}

@media (max-width: 575px) {
  .u-section-6 {
    min-height: 224px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-6 .u-container-layout-3 {
    padding-bottom: 20px;
  }

  .u-section-6 .u-text-2 {
    margin-bottom: -10px;
    margin-left: 0;
  }

  .u-section-6 .u-layout-cell-4 {
    min-height: 365px;
  }

  .u-section-6 .u-layout-wrap-2 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-6 .u-text-4 {
    font-size: 6rem;
  }
}.u-section-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("images/-min.jpg");
  background-position: 50% 50%;
  min-height: 826px;
}

.u-section-7 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2) + 1140px);
  margin: 60px 0 0 auto;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 306px;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px;
}

.u-section-7 .u-icon-1 {
  height: 103px;
  width: 103px;
  background-image: none;
  margin: 0 auto;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 306px;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px;
}

.u-section-7 .u-line-1 {
  height: 3px;
  transform-origin: left center;
  margin: 0 0 0 auto;
}

.u-section-7 .u-text-1 {
  font-size: 2.25rem;
  margin: 20px 0 0;
}

.u-section-7 .u-layout-cell-3 {
  min-height: 306px;
}

.u-section-7 .u-container-layout-3 {
  padding: 30px 30px 26px;
}

.u-section-7 .u-text-2 {
  font-size: 1rem;
  margin: 0;
}

.u-section-7 .u-layout-cell-4 {
  min-height: 306px;
  background-image: none;
}

.u-section-7 .u-container-layout-4 {
  padding: 30px;
}

.u-section-7 .u-layout-wrap-2 {
  width: 895px;
  min-height: 400px;
  margin: 60px calc(((100% - 1140px) / 2)) 0 auto;
}

.u-section-7 .u-layout-cell-5 {
  min-height: 400px;
}

.u-section-7 .u-container-layout-5 {
  padding: 30px;
}

.u-section-7 .u-text-3 {
  font-weight: 700;
  font-size: 7.5rem;
  margin: 0 -43px 0 0;
}

.u-section-7 .u-layout-cell-6 {
  min-height: 400px;
}

.u-section-7 .u-container-layout-6 {
  padding: 30px;
}

.u-section-7 .u-text-4 {
  font-size: 0.75rem;
  margin: 0;
}

.u-section-7 .u-btn-1 {
  background-image: none;
  border-style: solid;
  font-size: 1.25rem;
  letter-spacing: 2px;
  margin: 40px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-7 {
    min-height: 620px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2) + 940px);
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 221px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 252px;
  }

  .u-section-7 .u-line-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 252px;
  }

  .u-section-7 .u-layout-cell-4 {
    min-height: NaNpx;
  }

  .u-section-7 .u-layout-wrap-2 {
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-7 .u-text-3 {
    margin-left: undefined;
  }
}

@media (max-width: 991px) {
  .u-section-7 {
    min-height: 475px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 386px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-7 .u-layout-wrap-2 {
    width: 720px;
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-7 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-7 .u-text-3 {
    width: auto;
    margin-left: 1px;
  }

  .u-section-7 .u-layout-cell-6 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-7 {
    min-height: 356px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 579px;
    order: 0;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-7 .u-icon-1 {
    margin-left: 0;
  }

  .u-section-7 .u-layout-cell-2 {
    order: 1;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-7 .u-layout-cell-3 {
    order: 2;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-7 .u-text-2 {
    margin-right: undefined;
  }

  .u-section-7 .u-layout-cell-4 {
    order: 3;
  }

  .u-section-7 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-layout-wrap-2 {
    width: 540px;
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-7 .u-layout-cell-5 {
    order: 0;
  }

  .u-section-7 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0;
  }

  .u-section-7 .u-text-3 {
    margin-left: 3px;
  }

  .u-section-7 .u-layout-cell-6 {
    order: 1;
  }

  .u-section-7 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-7 {
    min-height: 224px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 365px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-right: 10px;
    padding-bottom: 50px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-bottom: 20px;
    padding-left: 30px;
  }

  .u-section-7 .u-layout-wrap-2 {
    width: 340px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-7 .u-text-3 {
    font-size: 6rem;
    margin-right: 0;
    margin-left: 2px;
  }
}.u-section-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/RoleIT.png");
  background-position: 50% 42.58%;
}

.u-section-8 .u-sheet-1 {
  min-height: 1651px;
}

.u-section-8 .u-layout-wrap-1 {
  width: 245px;
  margin: 826px 0 0 auto;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 223px;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px;
}

.u-section-8 .u-icon-1 {
  height: 91px;
  width: 91px;
  background-image: none;
  margin: 0 auto;
}

.u-section-8 .u-layout-wrap-2 {
  width: 895px;
  min-height: 400px;
  margin: -66px auto 0 0;
}

.u-section-8 .u-layout-cell-2 {
  min-height: 608px;
}

.u-section-8 .u-container-layout-2 {
  padding: 30px;
}

.u-section-8 .u-layout-cell-3 {
  min-height: 608px;
}

.u-section-8 .u-container-layout-3 {
  padding: 30px;
}

.u-section-8 .u-text-1 {
  font-weight: 700;
  font-size: 7.5rem;
  margin: 50px 0 -30px;
}

.u-section-8 .u-text-2 {
  font-size: 0.875rem;
  margin: -513px 0 0 895px;
}

.u-section-8 .u-btn-1 {
  background-image: none;
  border-style: solid;
  font-size: 1.25rem;
  letter-spacing: 2px;
  margin: 81px 29px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1361px;
  }

  .u-section-8 .u-layout-wrap-1 {
    width: 338px;
    margin-top: -166px;
  }

  .u-section-8 .u-icon-1 {
    height: 25px;
    width: 25px;
    margin-top: 777px;
    margin-right: 0;
  }

  .u-section-8 .u-layout-wrap-2 {
    margin-top: 87px;
  }

  .u-section-8 .u-text-2 {
    margin-top: 60px;
    margin-left: 0;
  }

  .u-section-8 .u-btn-1 {
    margin: 40px auto 0 0;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 931px;
  }

  .u-section-8 .u-layout-wrap-1 {
    margin-top: -77px;
  }

  .u-section-8 .u-icon-1 {
    margin-top: 689px;
  }

  .u-section-8 .u-layout-wrap-2 {
    width: 720px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 427px;
  }

  .u-section-8 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-8 .u-text-1 {
    width: auto;
    margin-right: auto;
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1213px;
  }

  .u-section-8 .u-layout-wrap-1 {
    margin-top: -516px;
  }

  .u-section-8 .u-layout-cell-1 {
    order: 0;
  }

  .u-section-8 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-8 .u-icon-1 {
    margin-top: 1128px;
    margin-left: 0;
  }

  .u-section-8 .u-layout-wrap-2 {
    width: 540px;
  }

  .u-section-8 .u-layout-cell-2 {
    order: 1;
    min-height: 469px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-layout-cell-3 {
    order: 0;
  }

  .u-section-8 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1039px;
  }

  .u-section-8 .u-layout-wrap-1 {
    margin-top: -405px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 892px;
  }

  .u-section-8 .u-icon-1 {
    margin-top: 1017px;
  }

  .u-section-8 .u-layout-wrap-2 {
    width: 340px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 295px;
  }

  .u-section-8 .u-text-1 {
    font-size: 6rem;
  }
}