.u-section-1 {
  background-image: url("images/camera.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 707px;
}

.u-section-1 .u-text-1 {
  font-weight: 900;
  font-size: 15.625rem;
  line-height: 0.8;
  margin: 270px 0 0;
}

.u-section-1 .u-shape-1 {
  height: 10px;
  margin: -94px auto 0 0;
}

.u-section-1 .u-group-1 {
  width: 426px;
  min-height: 186px;
  margin: 174px 0 60px auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 27px 30px;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  font-size: 1rem;
  margin: 24px 0 0 71px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 583px;
  }

  .u-section-1 .u-text-1 {
    font-size: 12.5rem;
  }

  .u-section-1 .u-shape-1 {
    margin-top: -67px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-1 {
    margin-top: 147px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 533px;
  }

  .u-section-1 .u-text-1 {
    font-size: 11.25rem;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-1 .u-text-1 {
    font-size: 8.125rem;
  }

  .u-section-1 .u-shape-1 {
    margin-top: -43px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-1 {
    margin-top: 123px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 547px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
    margin-top: 214px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: -22px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-1 {
    margin-top: 43px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-2 {
    font-size: 0.875rem;
    margin-left: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 784px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 99px;
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 99px;
}

.u-section-2 .u-container-layout-2 {
  padding: 20px;
}

.u-section-2 .u-text-1 {
  font-size: 1.25rem;
  font-weight: 900;
  margin: 3px 88px 0 0;
}

.u-section-2 .u-list-1 {
  min-height: 535px;
  grid-template-columns: repeat(3, calc(33.3333% - 7px));
  grid-gap: 10px;
  margin: 30px auto 60px 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-image-1 {
  height: 377px;
  filter: brightness(0.4);
  margin: 0 auto 0 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  border-style: solid;
  margin: 17px auto 0 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-image-2 {
  height: 377px;
  filter: brightness(0.4);
  margin: 0 auto 0 0;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  border-style: solid;
  margin: 17px auto 0 0;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px;
}

.u-section-2 .u-image-3 {
  height: 377px;
  filter: brightness(0.4);
  margin: 0 auto 0 0;
}

.u-section-2 .u-btn-3 {
  background-image: none;
  border-style: solid;
  margin: 17px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 483px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 82px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 82px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 28px;
  }

  .u-section-2 .u-list-1 {
    min-height: 441px;
    grid-template-columns: repeat(3, calc(33.333333333333336% - 7px));
    height: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-1 {
    height: 298px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-2 {
    height: 298px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-3 {
    height: 298px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 464px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 63px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
  }

  .u-section-2 .u-list-1 {
    min-height: 1013px;
    grid-template-columns: repeat(2, calc(((100% - 720px) / 2)  + 355px));
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-1 {
    height: 353px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-2 {
    height: 353px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-3 {
    height: 353px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 627px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 68px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-list-1 {
    grid-template-columns: 100%;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-1 {
    height: 612px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-2 {
    height: 612px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-3 {
    height: 612px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 543px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 43px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-2 .u-image-1 {
    height: 377px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-2 {
    height: 377px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-3 {
    height: 377px;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("images/1.jpg");
  background-position: 50% 100%;
}

.u-section-3 .u-sheet-1 {
  min-height: 806px;
}

.u-section-3 .u-group-1 {
  width: 464px;
  min-height: 522px;
  margin: 60px 0 0 auto;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  font-weight: 900;
  line-height: 1.4;
  font-size: 0.875rem;
  text-transform: none;
  margin: 0;
}

.u-section-3 .u-text-2 {
  font-size: 3rem;
  font-weight: 900;
  text-transform: none;
  margin: -355px 753px 60px 105px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 665px;
  }

  .u-section-3 .u-group-1 {
    margin-bottom: 60px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 653px;
    margin-left: 5px;
  }
}

@media (max-width: 991px) {
  .u-section-3 {
    background-position: 100% 100%;
  }

  .u-section-3 .u-sheet-1 {
    min-height: 509px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 438px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 382px;
  }

  .u-section-3 .u-group-1 {
    width: 429px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 258px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 241px;
  }

  .u-section-3 .u-group-1 {
    min-height: 465px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.5rem;
    margin-right: 58px;
  }
}.u-section-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.65), rgba(0,0,0,0.65)), url("images/1.jpg");
  background-position: 50% 100%;
}

.u-section-4 .u-sheet-1 {
  min-height: 806px;
}

.u-section-4 .u-group-1 {
  width: 464px;
  min-height: 522px;
  margin: 60px 0 0 auto;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  font-weight: 900;
  line-height: 1.4;
  font-size: 0.875rem;
  text-transform: none;
  margin: 0;
}

.u-section-4 .u-text-2 {
  font-size: 3rem;
  font-weight: 900;
  text-transform: none;
  margin: -285px 757px 60px 101px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 665px;
  }

  .u-section-4 .u-group-1 {
    margin-bottom: 60px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 657px;
    margin-left: 1px;
  }
}

@media (max-width: 991px) {
  .u-section-4 {
    background-position: 100% 100%;
  }

  .u-section-4 .u-sheet-1 {
    min-height: 509px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 438px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 382px;
  }

  .u-section-4 .u-group-1 {
    width: 429px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 258px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 241px;
  }

  .u-section-4 .u-group-1 {
    min-height: 465px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.5rem;
    margin-right: 58px;
  }
}.u-section-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.35), rgba(0,0,0,0.35)), url("images/1.jpg");
  background-position: 50% 100%;
}

.u-section-5 .u-sheet-1 {
  min-height: 806px;
}

.u-section-5 .u-group-1 {
  width: 464px;
  min-height: 522px;
  margin: 60px 0 0 auto;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-text-1 {
  font-weight: 900;
  line-height: 1.2;
  font-size: 1rem;
  text-transform: none;
  margin: 0;
}

.u-section-5 .u-text-2 {
  font-size: 3rem;
  font-weight: 900;
  text-transform: none;
  margin: -351px 758px 60px 100px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 665px;
  }

  .u-section-5 .u-group-1 {
    margin-bottom: 60px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 658px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 {
    background-position: 100% 100%;
  }

  .u-section-5 .u-sheet-1 {
    min-height: 509px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 438px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 382px;
  }

  .u-section-5 .u-group-1 {
    width: 429px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 258px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 241px;
  }

  .u-section-5 .u-group-1 {
    min-height: 465px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-5 .u-text-2 {
    font-size: 1.5rem;
    margin-right: 58px;
  }
}.u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 194px;
}

.u-section-6 .u-layout-wrap-1 {
  margin: 30px 0;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 134px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-text-1 {
  font-size: 3rem;
  font-weight: 900;
  margin: 0;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 134px;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-btn-1 {
  background-image: none;
  border-style: none;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 131px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 149px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 124px;
  }
}