.u-section-1 {
  background-image: url("images/482B977F-F812-465B-9387-4C80EA5EA68F.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 692px;
}

.u-section-1 .u-text-1 {
  font-size: 12.5rem;
  margin: 412px 0 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 571px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 437px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 328px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 207px;
  }

  .u-section-1 .u-text-1 {
    font-size: 6rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 248px;
}

.u-section-2 .u-group-1 {
  width: 835px;
  min-height: 128px;
  margin: 60px auto -126px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 0.875rem;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 262px;
  }

  .u-section-2 .u-group-1 {
    width: 807px;
    min-height: 142px;
    margin-bottom: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 289px;
  }

  .u-section-2 .u-group-1 {
    min-height: 169px;
    width: 495px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 292px;
  }

  .u-section-2 .u-group-1 {
    min-height: 172px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 337px;
  }

  .u-section-2 .u-group-1 {
    min-height: 217px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}.u-section-3 {
  min-height: 595px;
}

.u-section-3 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2) + 1140px);
  margin: 0 0 0 auto;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 595px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-size: 0.875rem;
  margin: -30px 0 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 595px;
  background-image: none;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-image-1 {
  object-position: 50% 42.56%;
  width: 472px;
  height: 527px;
  filter: brightness(0.5);
  margin: 0 auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 {
    min-height: 491px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2) + 940px);
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 491px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 491px;
  }

  .u-section-3 .u-image-1 {
    width: 410px;
    height: 458px;
    margin-left: auto;
  }
}

@media (max-width: 991px) {
  .u-section-3 {
    min-height: 376px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 376px;
  }

  .u-section-3 .u-image-1 {
    width: 300px;
    height: 335px;
  }
}

@media (max-width: 767px) {
  .u-section-3 {
    min-height: 664px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 564px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-1 {
    width: 376px;
    height: 416px;
  }
}

@media (max-width: 575px) {
  .u-section-3 {
    min-height: 455px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 355px;
  }

  .u-section-3 .u-image-1 {
    width: 320px;
    height: 354px;
  }
}.u-section-4 {
  min-height: 520px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-image-1 {
  min-height: 520px;
  background-image: url("images/3DEB11E6-33AB-4F16-AE32-76FCE917633A.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-image-2 {
  min-height: 520px;
  background-image: url("images/EEEC3B21-7197-4154-BD87-8E0A4A92DBE3.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-image-3 {
  min-height: 520px;
  background-image: url("images/3F55BCE8-6FCC-40A7-B48C-D1B668CDF347.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-image-4 {
  min-height: 520px;
  background-image: url("images/B96E2B27-0E44-4565-9072-A7BBE9630922.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px;
}

.u-section-4 .u-image-5 {
  min-height: 520px;
  background-image: url("images/CCD1E8F7-CD1E-432A-8FC2-ABCE2F06A677.jpg");
}

.u-section-4 .u-container-layout-5 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-4 {
    min-height: 429px;
  }

  .u-section-4 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-4 .u-image-1 {
    min-height: 429px;
  }

  .u-section-4 .u-image-2 {
    min-height: 429px;
  }

  .u-section-4 .u-image-3 {
    min-height: 429px;
  }

  .u-section-4 .u-image-4 {
    min-height: 429px;
  }

  .u-section-4 .u-image-5 {
    min-height: 429px;
  }
}

@media (max-width: 991px) {
  .u-section-4 {
    min-height: 329px;
  }

  .u-section-4 .u-image-1 {
    min-height: 329px;
  }

  .u-section-4 .u-image-2 {
    min-height: 329px;
  }

  .u-section-4 .u-image-3 {
    min-height: 329px;
  }

  .u-section-4 .u-image-4 {
    min-height: 329px;
  }

  .u-section-4 .u-image-5 {
    min-height: 329px;
  }
}

@media (max-width: 767px) {
  .u-section-4 {
    min-height: 1480px;
  }

  .u-section-4 .u-image-1 {
    min-height: 1234px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-2 {
    min-height: 1234px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-3 {
    min-height: 1234px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-4 {
    min-height: 1234px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-5 {
    min-height: 1234px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 {
    min-height: 932px;
  }

  .u-section-4 .u-image-1 {
    min-height: 466px;
  }

  .u-section-4 .u-image-2 {
    min-height: 466px;
  }

  .u-section-4 .u-image-3 {
    min-height: 466px;
  }

  .u-section-4 .u-image-4 {
    min-height: 777px;
  }

  .u-section-4 .u-image-5 {
    min-height: 777px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 767px;
}

.u-section-5 .u-layout-wrap-1 {
  width: 1140px;
  margin: 60px auto;
}

.u-section-5 .u-image-1 {
  min-height: 649px;
  background-image: url("images/pexels-photo-4545327.jpeg");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 216px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-text-1 {
  font-size: 3.75rem;
  text-transform: uppercase;
  font-weight: 400;
  margin: 18px 1px 0;
}

.u-section-5 .u-layout-cell-3 {
  min-height: 216px;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px;
}

.u-section-5 .u-text-2 {
  line-height: 2;
  font-weight: 700;
  font-size: 0.75rem;
  margin: 0;
}

.u-section-5 .u-layout-cell-4 {
  min-height: 216px;
}

.u-section-5 .u-container-layout-4 {
  padding: 30px;
}

.u-section-5 .u-text-3 {
  font-size: 3.75rem;
  text-transform: uppercase;
  font-weight: 400;
  margin: 20px 1px 0;
}

.u-section-5 .u-layout-cell-5 {
  min-height: 219px;
}

.u-section-5 .u-container-layout-5 {
  padding: 30px;
}

.u-section-5 .u-text-4 {
  line-height: 2;
  font-weight: 700;
  font-size: 0.625rem;
  margin: 0;
}

.u-section-5 .u-layout-cell-6 {
  min-height: 216px;
}

.u-section-5 .u-container-layout-6 {
  padding: 30px;
}

.u-section-5 .u-text-5 {
  font-size: 3.75rem;
  text-transform: uppercase;
  font-weight: 400;
  margin: 19px 1px 0;
}

.u-section-5 .u-layout-cell-7 {
  min-height: 218px;
}

.u-section-5 .u-container-layout-7 {
  padding: 30px;
}

.u-section-5 .u-text-6 {
  line-height: 2;
  font-weight: 700;
  font-size: 0.75rem;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 653px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-5 .u-image-1 {
    min-height: 535px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 178px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 178px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 178px;
  }

  .u-section-5 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-layout-cell-5 {
    min-height: 181px;
  }

  .u-section-5 .u-layout-cell-6 {
    min-height: 178px;
  }

  .u-section-5 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-layout-cell-7 {
    min-height: 180px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 528px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-5 .u-image-1 {
    min-height: 410px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-7 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1895px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-5 .u-image-1 {
    min-height: 710px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1731px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-5 .u-image-1 {
    min-height: 570px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 901px;
}

.u-section-6 .u-image-1 {
  width: 570px;
  height: 603px;
  object-position: 50% 0%;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  filter: brightness(0.85);
}

.u-section-6 .u-text-1 {
  text-transform: uppercase;
  font-size: 10rem;
  margin: -450px 30px 0;
}

.u-section-6 .u-text-2 {
  line-height: 43px;
  font-size: 3.75rem;
  font-weight: 400;
  margin: 183px 200px 0;
}

.u-section-6 .u-text-3 {
  font-size: 1rem;
  font-weight: 700;
  margin: 30px 200px 59px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 795px;
  }

  .u-section-6 .u-image-1 {
    width: 470px;
    height: 497px;
    margin: 60px auto 0;
  }

  .u-section-6 .u-text-1 {
    font-size: 15.625rem;
    margin-top: -344px;
    margin-left: 61px;
    margin-right: 61px;
  }

  .u-section-6 .u-text-2 {
    width: 740px;
    margin-left: 100px;
    margin-right: 100px;
  }

  .u-section-6 .u-text-3 {
    width: 740px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 873px;
  }

  .u-section-6 .u-image-1 {
    width: 360px;
    height: 381px;
    margin-top: 46px;
  }

  .u-section-6 .u-text-1 {
    font-size: 13.75rem;
    margin-top: -439px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-2 {
    margin-top: 235px;
    margin-left: 0;
    margin-right: 0;
    width: 720px;
  }

  .u-section-6 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 38px;
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 865px;
  }

  .u-section-6 .u-image-1 {
    height: 508px;
    width: 388px;
    margin-top: 60px;
  }

  .u-section-6 .u-text-1 {
    font-size: 9.375rem;
    margin-top: -336px;
  }

  .u-section-6 .u-text-2 {
    width: 540px;
    margin-top: 210px;
  }

  .u-section-6 .u-text-3 {
    width: 540px;
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 671px;
  }

  .u-section-6 .u-image-1 {
    width: 225px;
    height: 291px;
  }

  .u-section-6 .u-text-1 {
    font-size: 6rem;
    margin-top: -198px;
    margin-left: 11px;
    margin-right: 11px;
  }

  .u-section-6 .u-text-2 {
    font-size: 3rem;
    margin-top: 129px;
    width: 340px;
  }

  .u-section-6 .u-text-3 {
    margin-bottom: 48px;
    width: 340px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 244px;
}

.u-section-7 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 61px 0 0;
}

.u-section-7 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: -36px 332px 0 auto;
}

.u-section-7 .u-text-2 {
  margin: 20px 551px 52px 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-btn-1 {
    margin-right: 132px;
  }

  .u-section-7 .u-text-2 {
    margin-right: 351px;
    width: 589px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-7 .u-text-2 {
    margin-right: 131px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-text-2 {
    margin-right: 0;
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-7 .u-text-2 {
    width: 340px;
  }
}